.create-packet-packets-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.create-packet-packet1 {
  background-image: url("../../../../images/packets/packet1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 33vw;
}
.create-packet-packet2 {
  background-image: url("../../../../images/packets/packet2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 33vw;
}
.create-packet-packet3 {
  background-image: url("../../../../images/packets/packet3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 33vw;
}

.create-packet-content {  
  position: relative;
  top: 170px;
  left: 150px;
}

.create-packet-check-button {
  position: absolute;
  top: 50vh;
  left: 45vw;
}
