.creative-mode-flow-container {
    height: 100vh;
    width: 100%;  
}

.lp-add-nodes-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    right: 2vw;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lp-send-packet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lp-send-packet-first-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-send-packet-second-column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customNodeBody .ip-address {
  position: relative;
  font-size: 15px;
  user-select: text;
  z-index: 10;
}

.gateway-creative .customNodeBody {
  height: 17px;
  width: 77px;
}
.server-creative .customNodeBody {
  height: 50px;
  width: 77px;
}

.client-unplugged-creative .customNodeBody {
  height: 40px;
  width: 49px;
}
.client-plugged-creative .customNodeBody {
  height: 80px;
  width: 80px;
}
.wifi-creative .customNodeBody {
  height: 40px;
  width: 44px;
}
.bts-creative .customNodeBody {
  height: 132px;
  width: 40px;
}

.gateway-creative .customNodeBody .ip-address {
  top: 15px;
}
.server-creative .customNodeBody .ip-address {
  top: 48px;
}

.client-unplugged-creative .customNodeBody .ip-address {
  top: 38px;
}
.client-plugged-creative .customNodeBody .ip-address {
  top: 50px;
}
.wifi-creative .customNodeBody .ip-address {
  top: 40px;
}
.bts-creative .customNodeBody .ip-address {
  top: 135px;
}

/* node drag move */
.customNode:before {
  content: 'CHYŤ';
  position: absolute; 
  left: 25%;
  
  min-height: 8px;
  height: 30%;
  width: 50%;
  background: #d6d5e6;
  z-index: 10; /* zde bylo 1000 */
  border-radius: 3px;
  border: 2px solid #222138;
  font-size: 0.5em;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
}


.nodrag .customNode:before {
  display: none;
}

div.sourceHandle {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color:transparent;
}

div.targetHandle {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:transparent;
}

.gateway-creative div.targetHandle {
  background-image: url("../../images/nodes/chytrakrizovatka_kratka.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.server-creative div.targetHandle {
  background-image: url("../../images/nodes/server_komplet.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.client-unplugged-creative div.targetHandle {
  background-image: url("../../images/nodes/notebook.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.client-plugged-creative div.targetHandle {
  background-image: url("../../images/nodes/notebookconnected.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.wifi-creative div.targetHandle {
  background-image: url("../../images/nodes/wifi.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bts-creative div.targetHandle {
  background-image: url("../../images/nodes/BTSvez.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

