.custom-navbar {
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --speed: 500ms; 
}


a.custom-menu-item {
  color: var(--text-color);
  text-decoration: none;
}

/* Top Navigation Bar */

.custom-navbar {
  padding: 0 1rem;
  max-width: 20%;
}

.custom-navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.custom-nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.custom-icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #f7f7f7;
  border-radius: 50%;
  padding: 7px;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.custom-icon-button:hover {
  filter: brightness(1.2);
}

.custom-icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.custom-icon-button img{ 
  height: 30px;
  width: auto;
}
/* Dropdown Menu */

.custom-dropdown {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  transform: translateX(-45%);
  background-color: var(--bg);
  padding: 0 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

#downitem{
  width: 90%;
  position: absolute;
  bottom: 0;
}
.custom-menu-item-div{
 width: 100%;
}
.custom-menu-item {
  height: 60px;

  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.custom-menu-item .custom-icon-button {
  margin-right: 0.6rem;
}


.custom-menu-item .custom-icon-button:hover {
  filter: none;
}

.custom-menu-item:hover {
  background-color: #525357;
}

.custom-icon-right {
  margin-left: auto;

}

/* CSSTransition classes  */
.custom-menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.custom-menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.custom-menu-primary-exit {
  position: absolute;
}
.custom-menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.custom-menu-secondary-enter {
  transform: translateX(110%);
}
.custom-menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.custom-menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
