/* what is server */

.what-is-server-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
}

.server-content {
  height: 50px;
  width: 50px;
  z-index: 45;
  background-size: cover;
  cursor: pointer;
}

.fill-server-task{
  padding: 10px;
}

.upload-video, .upload-image, .upload-web, .no-upload {
  width: 100px;
  height: 70px;
  position: absolute;
  z-index: 3;
  background-size: cover;
}

.upload-video {
  top: 15vh;
  right: 30vw;
}
.upload-image {
  top: 55vh;
  right: 40vw;
}
.upload-web {
  top: 80vh;
  right: 60vw;
}
.no-upload {
  top: 23vh;
  right: 60vw;
}


/*  client serevr communication  */
.client-server-communication-message {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #1d1d1d;
  color: white;
}

/* close/open window - template */

.close-open-content {
  width: 20vw;
  height: 65vh;
  position: absolute;
  bottom: 7vh;
  right: 3vw;
  z-index: 15;
  border-radius: 0.5em;
  background: #c7c7c7;
  border: 1px solid #bebebe;
  box-shadow: 6px 6px 12px #7c7c7c,
  -6px -6px 12px #ffffff;
}

/* pulsing button */ 
.pulse-button {
  border: none;
 
  box-shadow: 0 0 0 0 rgba(122, 122, 122, 0.7);
  border-radius: 50%;
  background-color: #2c2c2c;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: pulse 2s infinite cubic-bezier(0.4, 0, 0.6, 1);
}

.pulse-button:hover {
  animation: none;
  transform: scale(1.2);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    transform: scale(1.2);
  }
}

/* minimize/maximize pulsing button openclose window  */

.close-open-controls button {
  background-color: rgb(92, 92, 92);
  color: rgb(237, 237, 237);
  border: none;
  padding: 15px 15px;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  width: 67px;
  height: 67px;
  position: absolute;
  bottom: 3vh;
  right: 1vw;
  z-index: 15;
}

/* check-validity-button close open window */
.submit-button-open-close{
  position: absolute;
}


.create-packets-form-container, .set-path-container, .find-server-container, .shortest-path-container, .problem-with-path-container{
  width: 100%;
  height: 100%;
  margin-left: 15%;
  margin-top: 5vh;
}

.create-packets-form-container p {
  max-width: 15vw;
}

/* create packet input field */
.create-packets-form-container .MuiTextField-root {
  margin-bottom: 0.5vh;
  width: 70%;
}


.create-packet-buttons{
  position: absolute;
  bottom: 9vh;
  margin-left: 13%;
}
/* Slideshow */
.create-packets-slideshow {
  overflow: hidden;
}

.create-packets-slideshowSlider {
  white-space: nowrap;
  transition: ease 500ms;
}

.create-packets-slide {
  display: inline-block;
  height: 36vh;
  width: 20vw;
  border-radius: 40px;
}

/* find servers */
.find-server-container button, .set-path-container button.check-button,.create-packets-form-container button.check-button, .shortest-path-container button.check-button, .problem-with-path-container button.check-button {
  position: absolute;
 bottom: 2vh;
 left: 33%;
}

/* messenger chat styles */
.chat-container {
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  width: 500px;
  background-color: #f2f5f8;
  border-radius: 10px;
  border: #333233 solid 3px;
}

  .chat-header {
    width: 100%;
    height: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    top: 0;
    background-color: #0078FF;
  }
  .chat-header h6 {
    margin-left: 20px;
    
    font-size: 1rem;
    color: white;
  }
  
  .chat-header .profile-image {
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }

  .message {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    display: inline-block;
  }

  .message.user-message {
    align-self: flex-end;
    margin-right: 20px;
    background-color: #1da1f2;
    color: white;
  }

  .message.other-message {
    align-self: flex-start;
    margin-left: 20px;
  }

.input-container {
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
}

.input-container img {
  width: 30px;
  margin-right: 10px;

}

.chat-container input[type="text"] {
padding: 10px;
border-radius: 20px;
border: none;
width: 60%;
margin-right: 10px;
}

.chat-container button {
width: 20px;
height: 20px;
margin-left: 10px;
background-image: url("../../../images/icons/send-message.png");
background-size: contain;
background-repeat: no-repeat;
color: white;
border: none;
cursor: pointer;
}

/* rozdelene pakety s vysvetlujicim textem */

.data-into-packets-container-bg{
  position: fixed; 
  padding-top: 2%; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  z-index: 15;
}

.data-into-packets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 15;
  margin: auto;
  border: 1px solid #888;
  border-radius: 30px;
  padding: 20px;
}

.new-message-box {  /* one part of message */
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #a5a4a4;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
} 

.close.data-into-packet {
  float: left;
  position: absolute;
  right: 20px;
  top: 10px;
}

.connect-client-wireless-button-container {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}