/* sort ip adresses */
.sort-ip-container {
  margin-top: 4vh ;
  margin-left: 30%;
}

.sort-ip-container button.submit-button{
  margin-top: 2vh;
  margin-left: 10%;
}


/* for the jigsaw puzzle container */
.jigsaw-puzzle {
  width: 38%;
  height: 38%;
  border: 2px solid black;
  margin: auto;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 15;
}