.landing-page-container {
    margin-top: 25vh;
    /*background-color: rgb(109, 109, 109);*/
    text-align: justify;
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.landing-page-container .button-container {
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landing-page-container p {
    width: 80%;
    margin: 10%;
    margin-bottom: 5vh;
}

.landing-page-container .button-container button {
    width: 15vw;
    height: 10vh;
}