.shortest-path-container{
    position: absolute;
    width: 15vw;
    height: 20vh;
    bottom: 10vh;
    right: 5vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.shortest-path-container button.check-button {
    margin-top: 20px;
}