.typing-challenge-text {
    padding: 0.4rem;
    margin: 20vh 10vw;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}

.typing-challenge-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    margin: 0 40vw;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.typing-challenge-container button.start-button {
    margin-top: 3vh;
}
