.build-network-flow-container {
    height: 95vh;
    width: 80%;
    margin-left: 20%;
}

.build-network-button-container img {
    width: 60px; 
    height: 40px;
    
}

.build-network-button-container {
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    z-index: 4;
    align-items: center; 
    justify-content: center; 
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
  }