.connect-client-wireless-button-container {
    margin-top: 10vh;
}

.connect-client-wireless-button-container img {
    width: 60px; 
    max-height: 70px;
    margin-bottom: 5vh;
}

.connect-client-wireless-flow-container{
    height: 95vh;
    width: 80%;
    margin-left: 20%;
}

.client-plugged{
    width: 110px;
    height: 40px;
    background-image: url("../../../../images/nodes/client-plugged.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    padding-top: 70px;  
    background-color: transparent;
  }