.what-is-bts-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-image: url("../../../../images/background/bg_bts.svg");
    background-repeat: no-repeat;

}