.what-is-bts-container {
    position: absolute;
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    z-index: 0;
    background-image: url("../../../../images/landscape.png");
    background-repeat: no-repeat;
    background-size: 800px 600px;
    background-position: 0px 50px;
}