.chapter-container{
    margin-top: 10vh;
}
article {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px;
}

article h1 {
    color: #0056b3;
    text-align: center; 
}
article h2 {
    color: #0066cc;
}
article p, article ul {
    line-height: 1.6;
}
article ul {
    list-style-type: square;
}
article .note {
    background-color: #ffffe0;
    border-left: 6px solid #ffd700;
    margin: 20px 0;
    padding: 15px;
    font-style: italic;
}

article .image {
    background-size: cover;
    background-position: center;
}

article .server {
    background-image: url('./chapters/images/server.jpg');
    width: 321px;
    height: 362px;
}
article .vytvor-paket {
    background-image: url('./chapters/images/vytvor_paket.png');
    width: 685px;
    height: 247px;
}
article .najdi-paket {
    background-image: url('./chapters/images/najdi_paket.png');
    width: 316px;
    height: 371px;
}
article .jak-velka-bude-zprava {
    background-image: url('./chapters/images/jak_velka_bude_zprava.png');
    width: 685px;
    height: 82px;
}
article .wifi {
    background-image: url('./chapters/images/wifi.png');
    width: 1008px;
    height: 625px;
}

article .omezena-vzdalenost {
    background-image: url('./chapters/images/omezena_vzdalenost.png');
    width: 572px;
    height: 454px;
}
article .jak-se-pripojit {
    background-image: url('./chapters/images/jak_se_pripojit.png');
    width: 606px;
    height: 242px;
}
article .ip-adresa {
    background-image: url('./chapters/images/ip_adresa.png');
    width: 234px;
    height: 134px;
}
article .ipv4-ipv6 {
    background-image: url('./chapters/images/ipv4ipv6.png');
    width: 265px;
    height: 294px;
}
article .nejrychlejsi-cesta {
    background-image: url('./chapters/images/nejrychlejsicesta.jpg');
    width: 517px;
    height: 283px;
}
article .pocet-cest {
    background-image: url('./chapters/images/pocet_cest.jpg');
    width: 548px;
    height: 274px;
}
article .problem-na-ceste {
    background-image: url('./chapters/images/problem_na_ceste.jpg');
    width: 547px;
    height: 410px;
}
article .sestaveni-zpravy {
    background-image: url('./chapters/images/sestaveni_zpravy.png');
    width: 362px;
    height: 361px;
}
article .ukol-1 {
    background-image: url('./chapters/images/ukol1.png');
    width: 685px;
    height: 206px;
}
article .ukol-2 {
    background-image: url('./chapters/images/ukol2.png');
    width: 685px;
    height: 178px;
}
article .ukol-3 {
    background-image: url('./chapters/images/ukol3.png');
    width: 685px;
    height: 439px;
}


.about-app p, .about-app h2 {
    color: aliceblue;
    font-size: 1.1rem;
}

