/* sort ip adresses */
.sort-ip-container {
  position: absolute;
  width: 40vw;
  height: 70vh;
  margin: 15vh 30vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  .sort-ip-submit-button{
    margin-top: 20px;
  }
  