.custom-navbar {
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 0;
  --icon-circle-size: 60px;
  --border: 1px solid #474a4d;
  --speed: 500ms; 
  --menu-width: 100%;
}

a.custom-menu-item {
  color: var(--text-color);
  font-size: 1.3rem;
  text-decoration: none;
}

.custom-navbar {
  width: var(--menu-width);
}

.custom-navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.custom-nav-item {
  display: flex;
  justify-content: center;
}

/* Icon Button */
.custom-icon-button {
  --button-size: calc(var(--icon-circle-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #f7f7f7;
  border-radius: 50%;
  padding: 7px;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-icon-button img{ 
  height: 30px;
  width: auto;
}

/* Dropdown Menu */
.custom-dropdown {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: var(--menu-width);
  height: 100%;
  transform: translateX(-50%);
  background-color: var(--bg);
  transition: height var(--speed) ease;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.custom-menu-item-div{
 width: 100%;
}

.over-flow-container {
  position: absolute;
  overflow: hidden;
  width: 30%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.custom-menu-item {
  height: 7vh;
  display: flex;
 
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.custom-menu-item .custom-icon-button {
  margin-right: 0.6rem;
}


.custom-menu-item .custom-icon-button:hover {
  filter: none;
}

.custom-menu-item:hover {
  background-color: #525357;
}

/* CSSTransition classes  */
.custom-menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.custom-menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.custom-menu-primary-exit {
  position: absolute;
}
.custom-menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.custom-menu-secondary-enter {
  transform: translateX(110%);
}
.custom-menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.custom-menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
