/* sort file by size*/

.sort-file-size-button a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 50%;
}

.sort-file-size-button{
    display: inline-block;
    font-size: 20px;
    margin:3%;
}
.container-sort {
    display: flex;
    justify-content: space-between;
  }
  
  .left-column {
    flex: 1;
    padding-left: 10%;
    width: 30%;
  }
  
  .right-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
/*
.sort-file-size-buttons a:hover, .sort-file-size-buttons button:hover, .sort-ip-submit button:hover  {
    background-color: #353535;
    cursor: pointer;
}
*/

/* typing challenge */
.form {
    margin-left: 10vw;
    margin-right: 10vw;
}

.typing-challenge-text {
    width: 100%;
    padding: 0.4rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}

#typing-challenge-input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.4rem;
    vertical-align: middle;
    box-shadow: 0 0 0.5em rgb(71, 71, 71);
}

#typing-challenge-input.shake {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}

/*  how to connect  */
.how-to-connect-column {
    float: left;
    width: 20%;
    padding: 10px;
  }

  li {
    list-style-type: none;
  }

.how-to-connect-container{
    margin-left: 15%;
}

.set-path-dot{
    
}