/* simple flow */ 
.simple-flow-container{
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
}

/* mobile node */

.mobil {
  width: 120px;
  height: 70px;
  background-image: url("../../../images/nodes/mobil.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}   



.mobil .react-flow__handle-bottom, .mobil .react-flow__handle-top{
  visibility: hidden;
}

.mobil .react-flow__handle-top{
  top: 35px;
}

.mobil .react-flow__handle-bottom{
  bottom: 35px;
}

/* notebook node */

.notebook {
  width: 120px;
  height: 70px;
  background-image: url("../../../images/nodes/notebook.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.notebook .react-flow__handle-bottom, .notebook .react-flow__handle-top{
  visibility: hidden;
}

.notebook .react-flow__handle-top{
  top: 35px;
}

.notebook .react-flow__handle-bottom{
  bottom: 35px;
}

/* PC-connected node */

.notebook-connected {
  width: 220px;
  height: 100px;
  background-image: url("../../../images/nodes/notebookconnected.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
  margin-left: -50px;
  margin-top: -14px;
}

.notebook-connected .react-flow__handle-bottom, .notebook-connected .react-flow__handle-top{
  visibility: hidden;
}

.notebook-connected .react-flow__handle-top{
  top: 35px;
}

.notebook-connected .react-flow__handle-bottom{
  bottom: 35px;
}

/* PC node */

.PC {
  width: 120px;
  height: 70px;
  background-image: url("../../../images/nodes/PC.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.notebook-214175599 {
  background-image: url("../../../images/notebook/notebook214175599.svg");
}


.PC .react-flow__handle-bottom, .PC .react-flow__handle-top{
  visibility: hidden;
}

.PC .react-flow__handle-top{
  top: 35px;
}

.PC .react-flow__handle-bottom{
  bottom: 35px;
}

/* plain server node */

.server-plain {
  width: 120px;
  height: 70px;
  background-image: url("../../../images/nodes/server_komplet.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}   

.server-plain .react-flow__handle-bottom, .server-plain .react-flow__handle-top{
  visibility: hidden;
}

.server-plain .react-flow__handle-top{
  top: 35px;
}

.server-plain .react-flow__handle-bottom{
  bottom: 35px;
}

/* gateway node */

.gateway, .gateway-build {
  width: 120px;
  height: 70px;
  background-image: url("../../../images/nodes/chytrakrizovatka_kratka.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.gateway .react-flow__handle-bottom, .gateway .react-flow__handle-top{
  visibility: hidden;
}

.gateway .react-flow__handle-top{
  top: 35px;
}

.gateway .react-flow__handle-bottom{
  bottom: 35px;
}

/* bts node */

.bts {
  width: 120px;
  height: 150px;
  background-image: url("../../../images/nodes/BTSvez.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.bts .react-flow__handle-bottom, .bts .react-flow__handle-top{
  visibility: hidden;
}

.bts .react-flow__handle-top{
  top: 35px;
}

.bts .react-flow__handle-bottom{
  bottom: 35px;
}

/* satelit node */

.satelit {
  width: 200px;
  height: 100px;
  background-image: url("../../../images/nodes/druzice.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.satelit .react-flow__handle-bottom, .satelit .react-flow__handle-top{
  visibility: hidden;
}

.satelit .react-flow__handle-top{
  top: 35px;
}

.satelit .react-flow__handle-bottom{
  bottom: 35px;
}

/* boat node */

.boat {
  width: 160px;
  height: 90px;
  background-image: url("../../../images/nodes/lod.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.boat .react-flow__handle-bottom, .boat .react-flow__handle-top{
  visibility: hidden;
}

.boat .react-flow__handle-top{
  top: 35px;
}

.boat .react-flow__handle-bottom{
  bottom: 35px;
}

/* reciver node */

.reciver {
  width: 70px;
  height: 100px;
  background-image: url("../../../images/nodes/satelit_rovny.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Sets the text color to white */
  -webkit-text-stroke: 1px black; /* Adds a black stroke as a border */
  font-weight: bold; 
  font-size: 18px;
}

.reciver .react-flow__handle-bottom, .reciver .react-flow__handle-top{
  visibility: hidden;
}

.reciver .react-flow__handle-top{
  top: 35px;
}

.reciver .react-flow__handle-bottom{
  bottom: 35px;
}


/* some other flow */

.client-build, .client-unplugged-build {
  width: 120px;
  height: 70px;
  background-image: url("../../../images/nodes/PC.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding-top: 70px;
}   

.server-build {
  width: 110px;
  height: 40px;
  background-image: url("../../../images/nodes/server-messenger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding-top: 70px;  
  background-color: transparent;
}

.client-plugged-build{
  width: 110px;
  height: 40px;
  background-image: url("../../../images/nodes/notebookconnected.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding-top: 70px;  
  background-color: transparent;
}
.gateway-build .react-flow__handle-top{
  top: 0px;
}

.gateway-build .react-flow__handle-bottom{
  bottom: 10px;
}

.client-plugged .react-flow__handle-bottom, .client-plugged .react-flow__handle-top{
  visibility: hidden;
}

.server-build .react-flow__handle-bottom{
  bottom: 5px;
}


.wifi-build .react-flow__handle-bottom{
  bottom: 7px;
}

.wifi-build .react-flow__handle-top{
  top: 40px;
}

.client-plugged {
  padding-top: 70px;
}

.server-messenger {
  background-image: url("../../../images/nodes/serverwebhost.svg");
}

.wifi, .wifi-build {
  background: url("../../../images/nodes/wifi.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 70px;
  width: 80px;
  padding-top: 62px;
  background-color: transparent;
}
.bts-build {
  background: url("../../../images/nodes/BTSvez.svg") no-repeat center center;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 110px;
  width: 120px;
  background-color: transparent;
  padding-top: 120px;
}



.react-flow__edge-text {
  font-size: 20px;
}

  .wifi .react-flow__handle-top {
  top: 20px;
  visibility: hidden;
}


.gateway-10001 {
  background-image: url("../../../images/gateway/křižovatka10001.svg");
}
.gateway-19216801 {
  background-image: url("../../../images/gateway/křižovatka19216801.svg");
}
.gateway-811199547 {
  background-image: url("../../../images/gateway/gateway-811199547.svg");
}
.gateway-20321260217 {
  background-image: url("../../../images/gateway/gateway-20321260217.svg");
}
.gateway-6041118216 {
  background-image: url("../../../images/gateway/gateway-6041118216.svg");
}
.gateway-34239245172{
  background-image: url("../../../images/gateway/gateway-34239245172.svg");
}
.gateway-155177229194{
  background-image: url("../../../images/gateway/gateway-155177229194.svg");
}
.gateway-9012329119 {
  background-image: url("../../../images/gateway/gateway-9012329119.svg");
}
.gateway-1261343541 {
  background-image: url("../../../images/gateway/gateway-1261343541.svg");
}
.gateway-1989165101 {
  background-image: url("../../../images/gateway/gateway-1989165101.svg");
}
.gateway-2241091725 {
  background-image: url("../../../images/gateway/gateway-2241091725.svg");
}

.server-1951137622 {
  background-image: url("../../../images/server/server1951137622.svg");
}
.server-5104025 {
  background-image: url("../../../images/server/server-5104025.svg");
}
.server-50251205152 {
  background-image: url("../../../images/server/server-50251205152.svg");
}
.server-1993867227 {
  background-image: url("../../../images/server/server-1993867227.svg");
}
.server-15914619167 {
  background-image: url("../../../images/server/server-15914619167.svg");
}
.server-1724637189 {
  background-image: url("../../../images/server/server-1724637189.svg");
}


.notebook-151034612 {
  background-image: url("../../../images/notebook/notebook-151034612.svg");
}
.notebook-162147249223 {
  background-image: url("../../../images/notebook/notebook-162147249223.svg")
}
.notebook-205194831 {
  background-image: url("../../../images/notebook/notebook-205194831.svg")
}
.notebook-115214225255 {
  background-image: url("../../../images/notebook/notebook-115214225255.svg")
}
.notebook-21014847179 {
  background-image: url("../../../images/notebook/notebook-21014847179.svg")
}
.notebook-81234314 {
  background-image: url("../../../images/notebook/notebook-81234314.svg")
}
.notebook-2031703173 {
  background-image: url("../../../images/notebook/notebook-2031703173.svg")
}
.notebook-243146138149 {
  background-image: url("../../../images/notebook/notebook-243146138149.svg")
}
.notebook-2273641190 {
  background-image: url("../../../images/notebook/notebook-2273641190.svg")
}
.notebook-1772301155 {
  background-image: url("../../../images/notebook/notebook-1772301155.svg")
}


.pc-601502571 {
  background-image: url("../../../images/pc/pc-601502571.svg");
}
.pc-10416911092 {
  background-image: url("../../../images/pc/pc-10416911092.svg");
}
.pc-99133116181 {
  background-image: url("../../../images/pc/pc-99133116181.svg");
}


.mobil-215175599 {
  background-image: url("../../../images/mobile/mobil-215175599.svg");
}


.bts-22319122 {
  background-image: url("../../../images/bts/bts-22319122.svg");
}
.reciver-2298390 {
  background-image: url("../../../images/reciver/reciver-2298390.svg");

}
.satelit-1238901 {
  background-image: url("../../../images/satelit/satelit-1238901.svg");
}

