.what-is-satelit-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-image: url("../../../../images/background/bg_satelit.svg");
    background-repeat: no-repeat;
}
