.paket{
    position: fixed;
    width: 60px;
    height: 35px;
    background-image: url("../../images/packets/paket.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.search-results {
    width: 120px;
    color: black;
    position: fixed;
    bottom: 40px;
    left: -50px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 50px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.arrow-down {
    position: absolute;
    top: -20px;
    z-index: 1;
    right: -10px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;   
    border-top: 20px solid rgba(255, 255, 255, 0.85);
  }