.lp-add-nodes-buttons-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    right: 2vw;
    z-index: 4;
    border-radius: 10px;
}

.lp-service-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   bottom: 2vh;
    right: 2vw;
    z-index: 4;
}

.go-to-task-buttons{
    display: flex;
    justify-content: space-around;
   
}

.go-to-task-buttons button {
    z-index: 4;
}



.client-plugged {
    width: 85px;
  height: 70px;
  background-image: url("../images/nodes/client-plugged.jpg");
  background-repeat: no-repeat;
  border: none;
  background-size: contain;
}

.lp-send-packet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    z-index: 4;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    border-radius: 10px;
}

.lp-send-packet-first-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-send-packet-second-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
