
.client, .client-build {
  width: 120px;
  height: 70px;
  background-image: url("../images/nodes/klient.jpg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding-top: 70px;
}   

.client .react-flow__handle-bottom{
  bottom: 40px;
}

.client .react-flow__handle-top {
  top: 50px;
}

.boat{
  width: 120px;
  height: 40px;
  background-image: url("../images/nodes/boat.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}   


.mojeuzasna .react-flow__container svg{
  background-image: url("../images/europemap.jpg");
  background-repeat: no-repeat;
  width: 2253px;
  height: 2106px;
}


.reciver {
  width: 80px;
  height: 60px;
  background-image: url("../images/nodes/reciverfromsatelit.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}


.gateway, .gateway-build {
  width: 82px;
  height: 30px;
  background-image: url("../images/nodes/gateway.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
.server, .server-build {
  width: 110px;
  height: 40px;
  background-image: url("../images/nodes/server-messenger.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding-top: 70px;  /* toto by tu nemelo byt */
  background-color: transparent;
}

.server-small {
  width: 45px;
  height: 50px;
  padding-top: 27px;
  background-image: url("../images/nodes/server-messenger.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.server-small .react-flow__handle-bottom, .server-small .react-flow__handle-top{
  visibility: hidden;
}

.server-small .react-flow__handle-bottom{
  bottom: 30px;
}
.server-small .react-flow__handle-top{
  top: 20px;
}

.gateway-small {
  width: 40px;
  height: 10px;
  margin-top: -10px;
  background-image: url("../images/nodes/gateway.jpg");
  background-repeat: no-repeat;
  background-size: contain;
 /* background-position: 10px 40px;*/
  border: none;
  background-color: transparent;
}

.gateway-small .react-flow__handle-bottom, .gateway-small .react-flow__handle-top{
  
  visibility: hidden;
}

.gateway-small .react-flow__handle-bottom{
  bottom: 20px;
}

.client-small {
  width: 40px;
  height: 25px;
  background-image: url("../images/nodes/klient.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  padding-top: 21px;
}

.client-small .react-flow__handle-bottom, .client-small .react-flow__handle-top{
  visibility: hidden;
}


.server-messenger {
  background-image: url("../images/nodes/serverwebhost.png");
}


.wifi, .wifi-build {
  background: url("../images/nodes/wifi.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 70px;
  width: 80px;
  
}
.bts, .bts-build {
  background: url("../images/nodes/btsvez.jpg") no-repeat center center;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  width: 120px;
}
.satelit {
  width: 200px;
  height: 100px;
  background-image: url("../images/nodes/satelit.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
.electric-socket {
  width: 50px;
  height: 50px;
  background-image: url("../images/nodes/electric-socket.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.react-flow__edge-text {
  font-size: 20px;
}


.server .react-flow__handle-bottom, .client .react-flow__handle-bottom, .gateway .react-flow__handle-bottom, .electric-socket .react-flow__handle-bottom{
  bottom: 20px;
  visibility: hidden;
}

.server .react-flow__handle-top, .gateway .react-flow__handle-top, .client .react-flow__handle-top, .wifi .react-flow__handle-top {
  top: 20px;
  visibility: hidden;
}


 .client-build .react-flow__handle-top, .client-build .react-flow__handle-bottom {
  top: 20px;
  visibility: hidden;
}

.react-flow__node.gateway{
  padding-top: 20px;
}

.whatIsSatelit-bg{
  background-image: url("../images/Globe-Transparent-Background-PNG.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: 300px 300px;
}

.whatIsBTS-bg{
  background-image: url("../images/landscape.png");
  background-repeat: no-repeat;
  background-size: 800px 600px;
  background-position: 0px 50px;
}

.whatIsWiFi-bg {
  background-image: url("../images/house.jpg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: 500px 250px;
}

.build-network-button-container {
  position: absolute;
  top: 2vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  z-index: 4;
  align-items: center; 
  justify-content: center; 
  background-color: rgb(192, 192, 192);
  border-radius: 5px;
}