.what-is-server-container {
    background-color: rgb(239, 237, 237);
    position: absolute;
    bottom: 10vh;
    right: 40vw;
    width: 20vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .server-content {
    height: 50px;
    width: 50px;
    z-index: 45;
    background-size: cover;
    cursor: pointer;
  }
  
  .fill-server-task{
    padding: 10px;
  }
  
  .upload-video, .upload-image, .upload-web, .upload-chat {
    width: 150px;
    height: 110px;
    position: absolute;
    z-index: 3;
    background-size: cover;
  }
  
  .upload-video {
    top: 15vh;
    right: 30vw;
  }
  .upload-image {
    top: 45vh;
    right: 30vw;
  }
  .upload-web {
    top: 15vh;
    left: 30vw;
  }
  .upload-chat {
    top: 45vh;
    left: 30vw;
  }
  